@use "../../assets/styles/variables"as *;
@use "../../assets/styles/mixins"as *;
@use "../../assets/styles/typography"as *;

.themesettings {
   width: 26.68rem;
   height: 17.75rem;
   border-radius: 15px;
   background-color: $text-tertiary;
   padding: 1.88rem 2.44rem;

   @include mobile {
      width: 100%;
   }

   &__header {
      font-weight: 500;
      color: #2D3748;
      margin-bottom: 1rem;
   }

   &__message {
      font-size: 12px;
      font-weight: 400;
      color: $text-primary;
   }

   &__form {
      margin-top: 1rem;

      &--header {
         color: #2D3748;
         font-size: 12px;
         font-weight: 500;
      }

      &--radio {
         margin-top: 0.8rem;
         margin-bottom: 1.88rem;

         label {
            margin-right: 0.5rem;
            font-size: 12px;
            color: $text-primary;
         }

         input {
            height: 0.6rem;
            width: 0.6rem;
            margin-right: 1.75rem;
            accent-color: $text-primary;
         }



         &-applybutton {
            background-color: $primary-color;
            width: 6.19rem;
            height: 1.8rem;
            border-radius: 4.4px;
            border: none;
            font-size: 10px;
            color: $text-tertiary;
            font-weight: 500;
         }
      }


   }
}