@use "../../../assets/styles/variables" as *;
@use "../../../assets/styles/typography" as *;
@use "../../../assets/styles/mixins" as *;

.device-ID {
  position: absolute;
  width: 109px;
  height: 15px;
  left: 32px;
  top: 23px;

  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: $text-tertiary;

  &__dropdown {
    position: relative;
    display: inline-block;
  }

  &__dropdown-content {
    display: none;
    position: absolute;
    background-color: $text-tertiary;
    min-width: 160px;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.15);
    padding: 12px 16px;
    z-index: 1;
    color: #2d3748;
  }

  &__dropdown-content-link {
    color: #737886;
  }

  &__dropdown:hover &__dropdown-content {
    display: block;
    text-align: left;
  }
}
