@use '../../assets/styles/variables' as *;
@use '../../assets/styles/mixins' as *;

.security {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 250px;


  @include mobile {    
    display: none;
    height: 100vh;
 }
}