@use '../../assets/styles/variables' as *;
@use '../../assets/styles/mixins' as *;

.security {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: $background-color;


  @include mobile {  
    margin-top: 12vh;  
    flex-direction: column;
    margin-left: 0;
    align-items: center;
 }

 .network-alert-show {
     display: none;

    @include mobile {
        display: block;
    }
 }
}