@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.security {
  position: unset;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: $background-color;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }
}

&__devices--list {
  margin: auto;
  width: 91%;

  &-header {
    margin-bottom: 0.88rem;
    color: #2d3748;
    font-weight: 600;

    @include mobile {
      text-align: center;
    }
  }

  &-text {
    max-width: 41.25rem;
    color: $security-calc-text;

    @include mobile {
      text-align: center;
    }
  }
}

@include mobile {
  margin-top: 12vh;
  flex-direction: column;
  margin-left: 0;
}

.network-alert-show {
  display: none;

  @include mobile {
    display: block;
  }
}
