@use "../../../assets/styles/variables" as *;
@use "../../../assets/styles/typography" as *;
@use "../../../assets/styles/mixins" as *;

.network-alert {
  height: 47%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border: none;
  border-radius: 12px;

  &__img {
    height: 38%;
  }

  &__text {
    padding-left: 10px;
  }
}

.risk {
  background-color: rgba($high-color, 0.1);
  color: $high-color;
}

.secure {
  background-color: rgba($primary-color, 0.1);
  color: $primary-color;
}