@use "../../../assets/styles/variables" as *;
@use "../../../assets/styles/mixins" as *;

.network-alert {
  height: 47%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border: none;
  border-radius: 12px;
  width: 206px;

  &--risk {
    background-color: $high-color-alert-icon;
    color: white;
    height: 47%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border: none;
    border-radius: 12px;
  }

  &--secure {
    background-color: rgba($secure-device-alert-icon, 0.08);
    color: $low-color;
    height: 47%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border: 1px solid rgba($secure-device-alert-border, 0.19);
    border-radius: 12px;
  }

  &__img {
    height: 38%;
  }

  &__text {
    padding-left: 10px;
  }
}