@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;
@use "../../assets/styles/typography" as *;

.network-item {
    width: 100%;
    height: 11.1%;
    padding:0 2rem;
    display: flex;
    align-items: center;
}

.light {
    background-color: $text-tertiary;
}

.dark {
    background-color: #F4FCFA;
}