@use "../../assets/styles/variables" as *;

.map-card {
  width: 100%;
  background-color: $background-color;
  color: $text-secondary;
  border-radius: 15px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.15);
  z-index: 0;

  &__map {
    height: 53vh;
    width: 100%;
  }

  &__title {
    font-size: 1.2em;
    padding: 5%;
  }

  &__details {
    display: flex;
    justify-content: space-around;
    padding: 5%;
  }

  &__longitude {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__latitude {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__location {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__details-title {
    font-size: 0.6em;
    color: $text-primary;
    margin-bottom: 7%;
    font-weight: 600;
  }

  &__details-content {
    font-size: 1em;
    color: $text-primary;
  }
}
