@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.alerts {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 95%;
  margin: auto;
  margin-top: 5rem;

  @include mobile {
    width: 90%;
  }

  &__search {
    @include mobile {
      display: none;
    }

    width: 100%;
    display: flex;
    height: 1.25rem;
    margin-bottom: 1rem;

    &-box {
      display: flex;
      width: 70%;
      margin-left: 3%;

      .search-input {
        background: none;
        border: none;
        margin-left: 2rem;
      }
    }

    &-filter-sort {
      width: 30%;
      display: flex;
      justify-content: flex-end;

      .alerts-sort,
      .alerts-filter {
        cursor: pointer;
        display: flex;
        height: 100%;
        margin-left: 2rem;

        .alerts__text-paragraph {
          cursor: pointer;
          font-size: 0.875rem;
          margin-left: 0.7rem;
          color: rgba(115, 120, 134, 1);
          font-weight: 400;
        }

        .alerts__icons {
          height: 60%;
          cursor: pointer;
          margin-top: 0.2rem;
        }
      }
    }
  }

  &__active-filters {
    position: absolute;
    width: 11px;
    height: 11px;
    background: #2abca1;
    border-radius: 47px;
  }

  &-table {
    &__header {
      width: 100%;
      height: 39px;
      display: flex;
      background-color: $primary-color;
      border-radius: 15px 15px 0 0;
      padding: 0 3.7rem;

      @include mobile {
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
      }

      &-alert,
      &-summary,
      &-created,
      &-importance {
        color: $text-tertiary;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .alert-header {
          font-size: 0.62rem;
          font-weight: 700;
        }
      }

      &-alert {
        width: 13%;

        @include mobile {
          width: 20%;
        }
      }

      &-summary {
        width: 40%;
        text-align: start;
        padding: 0 1rem;

        @include mobile {
          display: none;
        }
      }

      &-created {
        width: 13%;
        @include mobile {
          width: 25%;
          padding-left: 2.3rem;
        }
      }

      &-importance {
        width: 15%;
        padding-left: 2rem;

        @include mobile {
          width: 35%;
          padding-left: 2rem;
        }
      }
    }
    &__alert-arrow-active {
      transform: rotate(180deg);
      cursor: pointer;
      padding: 12px;
    }
    &__alert-arrow-inactive {
      padding: 12px;
      display: block;
      cursor: pointer;
    }
    &__time-arrow-active {
      transform: rotate(180deg);
      cursor: pointer;
      padding: 12px;
    }
    &__time-arrow-inactive {
      display: block;
      cursor: pointer;
      padding: 12px;
    }
    &__importance-arrow-active {
      transform: rotate(180deg);
      cursor: pointer;
      padding: 12px;
    }
    &__importance-arrow-inactive {
      display: block;
      cursor: pointer;
      padding: 12px;
    }

    &__alerts {
      height: 50vh;
      border-bottom: 1px solid $network-alerts-border;
    }

    &__pages {
      height: 4.62rem;
      border-radius: 0px 0px 15px 15px;
      box-shadow: 0px 3.5px 5.5px rgba(0, 0, 0, 0.05);

      &-buttons {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 1.5rem;
        height: 100%;

        .alerts-table__pages-buttons-button {
          width: 2rem;
          height: 2rem;
          border-radius: 4px;
          border: 1px solid #e8e8e8;
          background: none;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          margin: 0 0.1rem;
        }
        .alerts__left-arrow {
          transform: rotate(180deg);
          padding-bottom: 0.08rem;
        }

        .alert__button-active {
          background-color: $primary-color;
          color: $text-tertiary;
        }
      }
    }
  }
}

.alert__filter-inactive {
  display: none;
}
