@use "../../assets/styles/mixins" as *;
@use "../../assets/styles/variables" as *;

.routes {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: grid; 
  grid-template-columns: 20% 80%; 
  grid-template-rows: 1fr; 
  gap: 0px 0px;
  
  margin-right: 10px;

  @include mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;


  }
}
.routes__sidenav { 
  grid-area: 1 / 1 / 2 / 2; 

  
}

.routes__container-dashboard { 
  position: absolute;
  top: 0px;
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-start;
  // align-items: flex-start;
  grid-area: 1 / 2 / 2 / 3;
 
 }

 .routes__container-security { 
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  grid-area: 1 / 2 / 2 / 3;
 
 }

 .routes__login {
  grid-area: 1 / 1 / 2 / 3; 
 }