@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;
.bar-chart {
  display: grid;
  background-color: $text-tertiary;
  padding: 20px;

  &__chart-container {
      width: 50%;
  }

//   &__chart-container {
//       max-height: 70%;
//     width: 25vw;
//   }
}
