@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;
.bar-chart {
  position: relative;
  height: 500px;
  width: 600px;
  display: grid;
  justify-items: center;
  align-content: center;
  font-family: "Inter", sans-serif;
  background-color: white;
  border-radius: 10px;
  @include mobile {
    display: unset;
    height: 500px;
    width: 320px;
    margin-bottom: 10px;
  }
  &__chart-container {
    height: 250px;
    width: 520px;
    background-color: white;
    @include mobile {
      position: absolute;
      top: 40px;
      left: 20px;
      height: 250px;
      width: 250px;
    }
  }
  &__title {
    width: 500px;
    margin: 30px;
    @include mobile {
      position: relative;
      margin: 10px;
      top: 10px;
      left: 10px;
      font-size: medium;
    }
  }
}
