@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.devices-index { 
  
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-left: 227px;
  
}