@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.devices-index {
  padding: 7vh 3vw;
  height: 85vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr;
  gap: 14px 36px;
  grid-template-areas:
    "alert map"
    "info map"
    "info map";
  // justify-content: stretch;
  // justify-items: stretch;
  // align-items: stretch;

  // .alert { grid-area: alert; }
  // .Map { grid-area: Map; }
  // .Info { grid-area: Info; }

  @include mobile {
    display: none;
    height: 100vh;
  }
}

.device-risk-alert {
  grid-area: alert;
  width: 100%;
  height: 100%;
}

.device-info {
  grid-area: info;
  width: 100%;
  height: 100%;
}

.map-card {
  grid-area: map;
  width: 100%;
  margin: auto;
}

body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.modal-content {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f1f1f1;
  padding: 2.5rem;
  border-radius: 1rem;
  max-width: 400px;
  min-width: 300px;
  &__text {
    grid-column: 1 / span 2;
    text-align: center;
    color: $text-secondary;
  }
  &__title {
    line-height: 1.4rem;
    margin-bottom: 0.6rem;
  }
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}
