@use "../../../assets/styles/variables" as *;
@use "../../../assets/styles/mixins" as *;

.score-key {
  display: grid;
  grid-template-columns: 1fr 4fr 4fr;
  gap: 10px;
  column-gap: 20px;

  &__cell {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    
    &--red {
      background-color: $security-very-poor;
      height: 20px;
      aspect-ratio: 1;
    }

    &--orange {
      background-color: $security-poor;
      height: 20px;
      aspect-ratio: 1;
    }

    &--yellow {
      background-color: $security-fair;
      height: 20px;
      aspect-ratio: 1;
    }

    &--light-green {
      background-color: $security-good;
      height: 20px;
      aspect-ratio: 1;
    }

    &--dark-green {
      background-color: $security-excellent;
      height: 20px;
      aspect-ratio: 1;
    }

    &--score {
      color: $text-black;
      font-weight: bold;
    }

    &--explain {
      color: $text-primary;
    }
  }
  


}