@use '../../assets/styles/variables'as *;
@use '../../assets/styles/mixins'as *;


.settings {
  height: 80vh;
  display: flex;
  margin-top: 3rem;
  padding: 2.75rem 5rem;

  @include mobile {
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 100px);
    margin: auto;
    padding: 3.75rem 1rem;
  }
}