@use '../../assets/styles/variables'as *;
@use '../../assets/styles/mixins'as *;


.settings__text {
  height: 100vh;
  display: flex;
  justify-content: center;

  @include mobile {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin: 0;
  }
}