@use '../../assets/styles/variables' as *;
@use '../../assets/styles/mixins' as *;

.devices__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}