@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;
@use "../../assets/styles/typography" as *;
.deviceList {
  display: grid;
  grid-template-columns: 1fr;
  margin: 5px;
}
.deviceListLabels {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5px;
  padding: 10px;
}
