@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;
@use "../../assets/styles/typography" as *;

.devices {
  &__list {
    display: grid;
    grid-template-columns: 1fr;
    width: 95%;
    margin: 0 auto;
  }
  &__list-labels {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 20px;
    color: $text-secondary;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90%;
    margin: 10px auto;

    @include mobile {
      width: 95%;
      display: none;
    }
  }
  &__search-options {
    width: 95%;
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mobile {
      width: 90%;
      margin: 20px auto;
    }
  }

  &__filter-and-sort {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  &__search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    &__input {
      border: none;
    }
    > img {
      @include mobile {
        display: none;
      }
    }
  }
}
