@use "../../assets/styles/mixins" as *;
@use "../../assets/styles/variables" as *;

.network-devices {
  display: grid;
  justify-items: center;
  box-shadow: 0px 3.5px 5.5px rgba(0, 0, 0, 0.02);
  background-color: $text-tertiary;
  border-radius: 10px;
  padding: 20px;

  &__title {
    justify-self: start;
    padding-left: 15px;
    margin-bottom: 15px;
    color: $text-secondary;


    @include mobile {
      font-size: medium;
      position: relative;
      top: 10px;
      left: 10px;
    }
  }
  &__subtitle {
    justify-self: start;
    padding-left: 7px;
    font-weight: 400;
    font-size: 12px;
    margin: 10px;
    @include mobile {
      font-size: 10px;
    }
  }

  &__icon {
      width: 100%;
      grid-column: 2 / 3;
      grid-row: 1 / 3;
      max-width: 61px;
      justify-self: right;
  }
}
