@use "../../assets/styles/mixins" as *;
.network-devices {
  position: relative;
  height: 500px;
  width: 600px;
  display: grid;
  justify-items: center;
  align-content: center;
  font-family: "Inter", sans-serif;
  background-color: white;
  border-radius: 10px;
  @include mobile {
    display: unset;
    height: 500px;
    width: 320px;
    margin-bottom: 10px;
  }

  &__chart-container {
    height: 400px;
    width: 520px;
    background-color: white;
    @include mobile {
      position: absolute;
      top: 60px;
      left: 30px;
      height: 230px;
      width: 250px;
    }
  }
  &__title {
    margin-bottom: 15px;
    @include mobile {
      font-size: medium;
      position: relative;
      top: 10px;
      left: 10px;
    }
  }
  &__subtitle {
    font-weight: 400;
    font-size: 12px;
    margin: 10px;
    @include mobile {
      font-size: 10px;
    }
  }
}
