@use "../../assets/styles/variables"as *;
@use "../../assets/styles/mixins"as *;

.device-bar {
  border: 1px solid $text-primary;
  border-radius: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 5px auto;
  padding: 0.625rem 6rem 0.625rem 2rem;
  background-color: $text-tertiary;
  text-align: center;

  @include mobile {
    padding:  0.5rem 2rem;
    justify-content: space-between;
  }

  &__name {
    color: rgba(115, 120, 134, 1);
    font-size: 0.75rem;
    font-weight: 700;
    width: 15%;
    text-align: start;
    padding-left: 1.3rem;

    @include mobile {
      width: 40%;
    }
  }

  &__type {
    color: rgba(115, 120, 134, 1);
    display: flex;
    justify-content: center;
    width: 6%;

    @include mobile {
      display: none;
    }
  }

  &__brand {
    color: rgba(115, 120, 134, 1);
    display: flex;
    justify-content: center;
    width: 6%;

    @include mobile {
      display: none;
    }
  }

  &__model {
    color: rgba(115, 120, 134, 1);
    font-size: 0.75rem;
    width: 14%;

    @include mobile {
      display: none;
    }
  }

  &__os {
    color: rgba(115, 120, 134, 1);
    font-size: 0.75rem;
    width: 10%;
    padding-right: 10px;

    @include mobile {
      display: none;
    }
  }

  &__ip {
    color: rgba(115, 120, 134, 1);
    font-size: 0.75rem;
    width: 10%;
    padding-right: 1rem;

    @include mobile {
      display: none;
    }
  }

  &__last-active {
    color: rgba(115, 120, 134, 1);
    font-size: 0.75rem;
    width: 10%;
    padding-right: 1.2rem;

    @include mobile {
      display: none;
    }
  }

  &__options {
   position: absolute;
   right: 4rem;

   @include mobile {
     display: none;
   }

  }

  &__name a,
  :any-link {
    text-decoration: none;
    color: rgba(115, 120, 134, 1);
    width: 8%;
    

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  &__security-risk {
    border-radius: 13px;
    padding: 5px;
    margin-right: 1rem;
    width: 6.25rem;
    margin-left: 2.5rem;

    @include mobile {
      margin-right: 1rem;
      }

    &--Low {
      color: $low-color;
      background-color: rgba($low-color, 0.17);
    }

    &--Medium {
      color: $medium-color;
      background-color: rgba($medium-color, 0.17);
    }

    &--High {
      color: $high-color;
      background-color: rgba($high-color, 0.17);
    }
  }

}