.deviceBar {
  border: 1px solid black;
  border-radius: 10px;
}
.deviceBar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  text-align: center;
  margin: 5px;
}

.deviceBar__SecurityRisk {
  border: 1px solid black;
  border-radius: 10px;
}
