@use "../../assets/styles/variables" as *;
@use "../../assets/styles/typography" as *;
@use "../../assets/styles/mixins" as *;
.deviceBar {
  border: 1px solid $text-primary;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat();
  grid-gap: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5px;
  padding: 10px;

  &__SecurityRisk {
    border-radius: 10px;
    padding: 5px;
    &--low {
      color: $low-color;
      background-color: rgba($low-color, 0.17);
    }
    &--medium {
      color: $medium-color;
      background-color: rgba($medium-color, 0.17);
    }
    &--high {
      color: $high-color;
      background-color: rgba($high-color, 0.17);
    }
  }
  > img {
    margin: auto;
  }
  @include mobile {
    display: flex;
    justify-content: space-around;
    .hiddenOnMobile {
      display: none;
    }
  }
}
