@use "../../assets/styles/mixins" as *;
@use "../../assets/styles/variables" as *;

.dashboard__content {
    padding: 15vh 2vw;
    max-width: 100%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5vh;
    row-gap: 3vw;
    justify-items: stretch;

    @include mobile {
    grid-template-columns: 1fr;
    }
}

