@use "../../assets/styles/variables"as*;
@use "../../assets/styles/mixins"as*;
@use "../../assets/styles/typography"as*;

.login {
    width: 100%;
    height: 100vh;
    background: linear-gradient(110.53deg, #2ABCA1 4.37%, #0A7AA7 98.99%);

    &__page {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;

        &--form {
            background: rgba(20, 126, 136, 0.42);
            border-radius: 5px 5px 15px 15px;
            height: 26.4rem;
            width: 28.6rem;
            margin: 4rem 0 2rem 0;

            &-rectangle {
                height: 0.3rem;
                background: #2ABCA1;
                border-radius: 15px 15px 0px 0px;
            }

            &-header {
                color: $text-tertiary;
                text-align: center;
                display: block;
                margin: 2rem 0;
            }

            &-label {
                display: block;
                color: $text-tertiary;
                font-weight: 600;
                width: 75%;
                margin: 0.5rem auto;
                font-size: 0.75rem;
            }

            &-input {
                display: block;
                background-color: $text-tertiary;
                border: 1px solid #F4F4F4;
                border-radius: 7px;
                width: 75%;
                height: 2.5rem;
                margin: 0 auto 1.5rem auto;
                color: $text-secondary;
                padding-left: 1rem;
            }

            &-checkbox-container {
                width: 75%;
                margin: 0 auto;
                display: flex;
                align-items: center;
            }

            &-checkbox {
                accent-color: $primary-color;
                padding-top: 0.5rem;
            }

            .checkbox-label {
                color: #C5CCD6;
                font-weight: 500;
                font-size: 0.75rem;
                margin-left: 0.6rem;
            }

            &-button {
                display: block;
                width: 75%;
                height: 2.5rem;
                background-color: $primary-color;
                margin: 3rem auto;
                border-radius: 7px;
                border: none;
                color: $text-tertiary;
                font-weight: 700;
                font-size: 0.75rem;
                cursor: pointer;
            }
        }

        &--sign-up {
            font-size: 0.75rem;
            font-weight: 400;
            color: $text-tertiary;
            margin-bottom: 0.5rem;

            a {
                font-size: 0.75rem;
                font-weight: 600;
                color: $text-tertiary;
            }
        }

        &--link {
            font-size: 0.75rem;
            font-weight: 600;
            color: $text-tertiary;
            text-decoration: none;
        }


    }

    &__chat {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(147deg, #2ABCA1 15.72%, #1A9BA4 97.46%);
        box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
        width: 3.125rem;
        height: 3.125rem;
        border-radius: 1.65rem;
        cursor: pointer;
        bottom: 2.8rem;
        right: 2.8rem;
    }
}