@use "../../assets/styles/variables" as*;
@use "../../assets/styles/mixins" as*;
@use "../../assets/styles/typography" as*;

.login {
    width: 100%;
    height: 100vh;
    background: linear-gradient(110.53deg, #2ABCA1 4.37%, #0A7AA7 98.99%);
    
    &__page {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &--form {
            background: rgba(20, 126, 136, 0.42);
            border-radius: 5px 5px 15px 15px;
            height: 26.4rem;
            width: 28.6rem;
            margin: 4rem;

            &-rectangle {
                height: 0.3rem;
                background: #2ABCA1;
                border-radius: 15px 15px 0px 0px;
            }

            &-header {
                color: $text-tertiary;
                text-align: center;
                display: block;
                margin: 2rem 0;
            }

            &-label {
                display: block;
                color: $text-tertiary;
                font-weight: 600;
                width: 75%;
                margin: 0.5rem auto;
                font-size: 0.75rem;
            }

            &-input {
                display: block;
                background-color: $text-tertiary;
                border: 1px solid #F4F4F4;
                border-radius: 7px;
                width: 75%;
                height: 2.5rem;
                margin: 0 auto 1.5rem auto;
                color: $text-secondary;
                padding-left: 1rem;
            }

            &-checkbox {
                accent-color: $primary-color;
                display: inline;
                margin-left: 12.5%;
                padding-top: 0.5rem;
            }

            .checkbox-label {
                display: inline;
                color: #C5CCD6;
                font-weight: 500;
                font-size: 0.75rem;
                margin-left: 0.8rem;
            }

            &-button {
                display: block;
                width: 75%;
                height: 2.5rem;
                background-color: $primary-color;
                margin: 3rem auto;
                border-radius: 7px;
                border: none;
                color: $text-tertiary;
                font-weight: 700;
                font-size: 0.75rem;
                cursor: pointer;
            }
        }

        &--sign-up {
            font-size: 0.75rem;
            font-weight: 400;
            color: $text-tertiary;
            margin: 0.5rem auto;

            a {
                font-size: 0.75rem;
                font-weight: 600;
                color: $text-tertiary;
            }
        }

        &--link {
            font-size: 0.75rem;
            font-weight: 600;
            color: $text-tertiary;
            text-decoration: none;
        }

        &--chat-button {
            padding-top: 1rem;
            margin-right: 2rem;
            align-self: flex-end;
            cursor: pointer;
        }
    }
}