@use "../../assets/styles/mixins" as *;
@use "../../assets/styles/variables" as *;

.container {
    height: 350px;
    width: 450px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 3.5px 5.5px rgba(0, 0, 0, 0.05);
    margin: 100px 0 0 40px; // to change
}

.calculation {
    height: 315px;
    width: 390px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__header {
        margin-bottom: 15px;
        display: flex;
        justify-content: flex-start;
        font-size: 20px;
        font-weight: 500;
        color: #676980;
    }

    &__text {
        margin-bottom: 30px;
        color: #A0AEC0;
    }
}

.calculation__container {
    height: 112px;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #F8F9FA;
    border-radius: 15px;
}

.calculation__container--items{
    display: grid;
    grid-template-columns: .25fr 1fr;
    grid-template-rows: repeat(4, 1fr);

}

.calculation__container--image {
    margin: 5px;
    padding-left: 25px;
}

.calculation__container--text{
    margin: 5px;
    color: $primary-color;
    
}

hr {
    margin-top: 30px;
    transform: rotate(-0.18deg);
}

.calculation__button {
    margin-top: 30px;

    &--refresh {
        height: 35px;
        width: 110px;
        border-radius: 5px;
        background-color: $primary-color;
        border: none;
        color: $text-tertiary;
    }

    &--more {
        background: none;
        border: none;
        margin-left: 20px;
        color: #676980;
    }
}