@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;
@use "../../assets/styles/typography" as *;

.forgotten-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-form {
    background: rgba(20, 126, 136, 0.42);
    border-radius: 5px 5px 15px 15px;
    height: 29rem;
    width: 28.6rem;
    margin: 4rem 0 2rem 0;

    @include mobile {
      width: 90vw;
    }

    &__rectangle {
      height: 0.3rem;
      background: #2abca1;
      border-radius: 15px 15px 0px 0px;
    }

    &__header {
      color: $text-tertiary;
      text-align: center;
      display: block;
      margin: 2rem 0;
    }

    &__label {
      display: block;
      color: $text-tertiary;
      font-weight: 600;
      width: 75%;
      margin: 0.5rem auto;
      font-size: 0.75rem;
    }

    &__input {
      display: block;
      background-color: $text-tertiary;
      border: 1px solid #f4f4f4;
      border-radius: 7px;
      width: 75%;
      height: 2.5rem;
      margin: 0 auto 1.5rem auto;
      color: $text-secondary;
      padding-left: 1.8rem;
    }

    &__input:focus {
      outline: 3px solid $primary-color;
    }

    &__password-container {
      position: relative;
      width: 100%;
      height: 2.5rem;
      margin-bottom: 1.5rem;

      .show-password,
      .hide-password {
        position: absolute;
        top: 0.78rem;
        right: 5.5rem;
        height: 0.98rem;
        width: auto;
        cursor: pointer;
      }

      .hide-password {
        top: 0.85rem;
        right: 5.6rem;

        @include mobile {
          right: 19%;
        }
      }
    }

    &__checkbox-container {
      width: 75%;
      margin: 0 auto;
      display: flex;
      align-items: center;
    }

    &__checkbox {
      accent-color: $primary-color;
      padding-top: 0.5rem;
    }

    &__validation {
      width: 75%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      margin-bottom: 2.8rem;

      &-item {
        .valid-password {
          display: flex;
          align-items: center;
          color: $primary-color;
          padding-bottom: 0.5rem;

          p {
            padding-left: 0.5rem;
          }
        }

        .invalid-password {
          display: flex;
          align-items: center;
          color: $high-color;
          padding-bottom: 0.5rem;

          p {
            padding-left: 0.5rem;
          }
        }
      }
    }

    .checkbox-label {
      color: #c5ccd6;
      font-weight: 500;
      font-size: 0.75rem;
      margin-left: 0.6rem;
    }

    &__button {
      display: block;
      width: 75%;
      height: 2.5rem;
      background-color: $primary-color;
      margin: 3rem auto;
      border-radius: 7px;
      border: none;
      color: $text-tertiary;
      font-weight: 700;
      font-size: 0.75rem;
      cursor: pointer;

      &-wrapper {
        display: flex;
        width: 75%;
        margin: auto;
        justify-content: space-between;
      }

      &--active {
        display: block;
        width: 75%;
        height: 2.5rem;
        background-color: $primary-color;
        margin: 3rem auto;
        border-radius: 7px;
        border: none;
        color: $text-tertiary;
        font-weight: 700;
        font-size: 0.75rem;
        cursor: pointer;
      }

      &--back {
        display: block;
        width: 45%;
        height: 2.8rem;
        background-color: rgba(4, 36, 30, 0.1);
        border-radius: 7px;
        border: none;
        color: $text-tertiary;
        font-weight: 700;
        font-size: 0.75rem;
        cursor: pointer;
      }

      &--forgotten-password {
        display: block;
        width: 45%;
        height: 2.8rem;
        background-color: $primary-color;
        border-radius: 7px;
        border: none;
        color: $text-tertiary;
        font-weight: 700;
        font-size: 0.75rem;
        cursor: pointer;
      }

      &--forgotten-password:disabled {
        cursor: not-allowed;
        background-color: rgba(42, 188, 161, 0.4);
        color: rgba(255, 255, 255, 0.5);
      }

      &--disabled {
        display: block;
        width: 75%;
        height: 2.5rem;
        background-color: $primary-color;
        margin: 3rem auto;
        border-radius: 7px;
        border: none;
        color: rgba(255, 255, 255, 0.7);
        font-weight: 700;
        font-size: 0.75rem;
        cursor: not-allowed;
        background-color: rgba(42, 188, 161, 0.4);
      }
    }
  }

  &-login {
    font-size: 0.75rem;
    font-weight: 400;
    color: $text-tertiary;
    margin-bottom: 0.5rem;

    span {
      font-size: 0.75rem;
      font-weight: 600;
      color: $text-tertiary;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
