@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;
@use "../../assets/styles/typography" as *;

.forgotten-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-form {
    background: rgba(20, 126, 136, 0.42);
    border-radius: 5px 5px 15px 15px;
    height: 29rem;
    width: 28.6rem;
    margin: 4rem 0 2rem 0;
    &__header {
      color: $text-tertiary;
      text-align: center;
      display: block;
      margin: 2rem 0;
    }
    &__text {
      color: $text-tertiary;
      text-align: center;
      display: block;
      margin: 2rem;
    }
    &__input {
      display: block;
      background-color: $text-tertiary;
      border: 1px solid #f4f4f4;
      border-radius: 7px;
      width: 75%;
      height: 2.5rem;
      margin: 0 auto 1.5rem auto;
      color: $text-secondary;
      padding-left: 1.8rem;
    }

    @include mobile {
      width: 90vw;
    }
  }
}
