@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;
.riskBreakdown__dashboard {
  border: 1px solid white;
  border-radius: 25px;
  height: 385px;
  width: 404px;
  justify-items: center;
  align-content: center;
  font-family: "Inter", sans-serif;
  background-color: white;
  border-radius: 10px;
  &--chart-container {
    height: 243px;
    width: 300px;
    background-color: white;
    margin: 50px;
  }
  &--title {
    width: 500px;
    font-weight: 600;
    font-size: 18px;
    margin: 15px;
  }
  &--subtitle {
    width: 500px;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 25px;
  }
}
