@use '../../assets/styles/variables' as *;
@use '../../assets/styles/mixins' as *;

h1 {
  text-align: center;
}

.network__text { 

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 227px;

  @include mobile {   
    // display: none; 
    height: 100vh;
    width: 100%;
    margin: 0;
    flex-direction: column;
    font-size: 0.5rem;
 }

}