$primary-color: #2abca1;
$secondary-color: #0a7aa7;
$high-color: #fc7f7f;
$medium-color: #fbc07b;
$low-color: #1ac96a;
$text-primary: #a0aec0;
$text-secondary: #454756;
$text-tertiary: #ffffff;
$background-gradient: linear-gradient(110.53deg, #2ABCA1 4.37%, #0A7AA7 98.99%);
$backgroun-gradient-mobile:linear-gradient(167.94deg, #2ABCA1 0%, #0A7AA7 100%);
//breakpoint
$breakpoint-mobile: 480px;
