@use "../../assets/styles/mixins" as *;
@use "../../assets/styles/variables" as *;

.header {
  position: relative;
  width: 100%;
  padding: 20px 15px 15px 10px;
  background-color: $background-color;


  @include mobile {
    position: unset;
    left: 0px;
    padding: 0;
  }
}
