@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.device-info {
  width: 50%;
  padding: 1.5rem;
  background-color: $background-color;
  color: $text-secondary;
  border-radius: 15px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.15);

  &__list {


    &--ul {
      list-style-type: none;
    }
  }

  &__list-item {
    margin-top: 1.5rem;
    font-size: 0.8rem;
  }

  &__edit {
    border-top: 1px solid $text-primary;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
  }
}
