@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;
@use "../../assets/styles/typography" as *;

.login__nav {
  width: 80%;
  height: 15vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--logo {
    height: 40%;
    width: auto;
  }

  &--links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 18%;

    .login__nav-link {
      color: #e6e6e6;
      font-family: Inter;
      font-size: 14px;
      cursor: pointer;
    }
  }
}
